# Server
PORT=8080
NODE_ENV=production

# MongoDB
MONGO_URI=mongodb+srv://amishrahsm_db_user:NHq4Z4uA2lB5nVjp@cluster0.fmg09dw.mongodb.net/?appName=Cluster0

# JWT Authentication
JWT_SECRET=yoursecretkey1234567890
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# Frontend URL (for CORS)
CLIENT_URL=https://satisfied-healing-production-27e1.up.railway.app

# File Upload
MAX_FILE_UPLOAD=10000000

# ImageKit
IMAGEKIT_URL=https://ik.imagekit.io/xxyhez1y7
IMAGEKIT_PUBLIC_KEY=public_QEyCO094F3CHSNTyPzDiAlyIw6g=
IMAGEKIT_PRIVATE_KEY=private_ctXJXi4eLAnxZGaYCJW3hnDsgU8=
